@font-face {
    font-family: 'Futura Today';
    src: url(http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.eot);
    src: url(http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.eot?#iefix) format('embedded-opentype'), url(http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.woff) format('woff'), url(http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.ttf) format('truetype'), url(http://www.gannett-cdn.com/GDContent/global/fonts/futura_bold-webfont.svg#FuturaBold) format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Futura Today Light';
    src: url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_light.eot);
    src: url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_light.eot?#iefix) format('embedded-opentype'), url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_light.woff) format('woff'), url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_light.ttf) format('truetype'), url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_light-webfont.svg#FuturaLight) format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Futura Today DemiBold';
    src: url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_demibold.eot);
    src: url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_demibold.eot?#iefix) format('embedded-opentype'), url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_demibold.woff) format('woff'), url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_demibold.ttf) format('truetype'), url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_bold-webfont.svg#FuturaDemiBold) format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Futura Today Bold';
    src: url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_bold.eot);
    src: url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_bold.eot?#iefix) format('embedded-opentype'), url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_bold.woff) format('woff'), url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_today_bold.ttf) format('truetype'), url(http://i.usatoday.net/news/graphics/elections-2012-app/static/fonts/futura_bold-webfont.svg#FuturaBold) format('svg');
    font-style: normal;
}

#map-container {
  width: 100%;
  height: 500px;
  position: relative;
}

/* MAPBOX STYLES */
#mbMap {    
	width: 100%;
  height: 100%;
  position: absolute;
  top: 95px;
  margin-left: 30px;
}

/* D3 MAP STYLES */
#d3Map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.counties {
  fill: rgb(198,198,198);
  cursor: pointer;
}

/* quantile color scale */
.q0-5 { fill:rgb(219,217,235); }
.q1-5 { fill:rgb(203,201,226); }
.q2-5 { fill:rgb(158,154,200); }
.q3-5 { fill:rgb(117,107,177); }
.q4-5 { fill:rgb(84,39,143); }

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}


/* RESET BUTTON */
button {
  margin-top: -20px;
  margin-left: 32px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(255,255,255);
  color: rgb(99, 99, 99);
  box-shadow: 0 1.5px 0 rgb(226, 226, 226);
  border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1.5px solid rgb(194, 194, 194);
  font-family: 'Arial';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: rgb(237, 237, 237);
}

/* on selection */
button:focus {
/* remove shadow & blue outline */
 outline: 0;
 background-color: rgb(128, 128, 128);
 color: #fff;

}

/* on button press */
button:active {
  box-shadow: none;
  background-color: rgb(237, 237, 237);
  color: rgb(99, 99, 99);

}


/* LEGEND STYLES */
.legend-container {
  margin: 30px auto 0;
  text-align: center;
  padding: 0 10px;
}

.legend-bar-color {
  display: inline-block;
  margin: 0 3px 0 2px;
  width: 30px;

  font-family: 'Futura Today', arial, sans-serif;
  font-size: 12px;
  color: rgb(90,90,90);
}

.color {
  width: 30px;
  height: 15px;
}

.color0 { background-color:rgb(219,217,235); }
.color1 { background-color:rgb(203,201,226); }
.color2 { background-color:rgb(158,154,200); }
.color3 { background-color:rgb(117,107,177); }
.color4 { background-color:rgb(84,39,143); }

}

/* D3 TOOLTIP STYLES */
.map-tooltip {
  background: #fff; 
  padding: 5px 8px; 
  border: 1px solid #cbcbcb;
  position: relative;
  width: 50px;
}

/* remove excess spacing between tooltip <p> */
.map-tooltip p {
  margin: 0;
}

.map-tooltip-county-state {
  border-bottom: 1px solid rgb(205, 205, 205);
  padding-bottom: 2px;
  font-size: 14px;
  color: #666;
  line-height: 18px;
  font-family: 'Futura Today Bold', Arial;
  text-transform: uppercase;
}

.map-tooltip-unemployment {
  font-size: 13px;
  font-family: 'Futura Today', Arial;
  color: #666;
}
